<div class="profile-container">
  <div class="h-100">
    <div class="row h-100 no-gutters">
      <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-7">
        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
          <div class="mt-4 d-flex align-items-center">
            <img src="../../../assets/images/avatars/1.jpg" class="rounded-circle" alt="HelPic">
          </div>
          <div>
            <form [formGroup]="this.formGroup" class="needs-validation" novalidate (validSubmit)="this.submit()">
              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom01">First Name</label>
                  <input formControlName="name" type="text" class="form-control" id="validationCustom01"
                    placeholder="First Name" value="Mark" required>
                </div>

                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom01">Last Name</label>
                  <input formControlName="name" type="text" class="form-control" id="validationCustom01"
                    placeholder="Last Name" value="Mark" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustomUsername">Email</label>
                  <input formControlName="email" type="email" class="form-control" id="validationCustom02"
                    placeholder="Email" aria-describedby="inputGroupPrepend">
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustomUsername">Mobile Number</label>
                  <input formControlName="email" type="email" class="form-control" id="validationCustom02"
                    placeholder="Mobile Number" aria-describedby="inputGroupPrepend">
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom03">Facebook Link</label>
                  <input formControlName="password" type="text" class="form-control" id="validationCustom03"
                    placeholder="Facebook Link" required>
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom04">Instagram Link</label>
                  <input formControlName="confirmPassword" type="text" class="form-control" id="validationCustom04"
                    placeholder="Instagram Link" required>
                </div>

              </div>

              <div class="mt-4 d-flex align-items-center">
                <div class="ml-auto">
                  <button type="submit" class="btn btn-wide btn-pill btn-shadow btn-secondary btn-lg">Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
