<div class="row">
  <h2 class="col-12 mb-3 page-title">{{title}}</h2>

  <div class="col-md-3 col-6" *ngFor="let data of recipes;">
    <div class="main-card mb-3 card" routerLink="/recipe-details/{{data._id}}">
      <div class="card-body" style="padding: 0%;">
       <img [src]="data.coverImage" class="card-image" style="width: 100%;height:150px;" />
      </div>
      <div class="d-block card-footer">
        <h6 class="title">{{data.title}}</h6>
        <span>{{data.user}}</span>
        <span style="float:right;">{{data.views}} views</span>
      </div>
    </div>
  </div>

</div>
