<div class="user-pages">
    <div class="mt-4 d-flex align-items-center">
        <div class="profile-pic">
            <img [src]="url" class="rounded-circle" alt="HelPic">
            <label class="custom-file-upload">
                <input type="file" (change)="onSelectFile($event)"/>
                <mat-icon svgIcon="camera"></mat-icon>
            </label>
        </div>
    </div>
    <mat-tab-group>
        <mat-tab label="About">
            <app-user-profile></app-user-profile>
        </mat-tab>
        <mat-tab label="Timeline"> Content 2 </mat-tab>
        <mat-tab label="My Blogs">
            <div *ngIf="isBlogForm; else blogs">
                <app-blog-form></app-blog-form>
            </div>
            <ng-template #blogs>
                <app-blogs (blogFormEvent)="blogFormEvent($event)"></app-blogs>
            </ng-template>
        </mat-tab>
        <mat-tab label="My Recipes">
            <div *ngIf="isRecipeForm; else recipes">
                <app-recipe-form></app-recipe-form>
            </div>
            <ng-template #recipes>
                <app-recipes (recipeFormEvent)="recipeFormEvent($event)"></app-recipes>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
