
.align-items-center {
    justify-content: center;
    align-items: flex-start !important;
}

.about-detail-label {
    color: #3ac47d;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

.ml-auto {
    position: fixed;
    z-index: 1;
    right: 10%;
}

.food-choice {
    margin-right: 1rem;
}


.blog-update {
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

::ng-deep .mat-form-field-infix {
    width: 366px !important;
}