
<div class="row">
  <h2 class="col-12 mb-3 page-title">Top Chefs</h2>
<div class="col-6 col-md-6 col-lg-4 col-xl-4"
*ngFor="let data of chef;">
  <div class="mb-3 profile-responsive card">
    <div class="dropdown-menu-header">
      <div class="dropdown-menu-header-inner bg-success">
        <div class="menu-header-image opacity-4 dd-header-bg-2"></div>
        <div class="menu-header-content btn-pane-right">
          <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
            <div class="avatar-icon rounded">
              <img [src]="data.image" alt="Avatar 5">
            </div>
          </div>
          <div>
            <h5 class="menu-header-title">{{data.name}}</h5>
            <h6 class="menu-header-subtitle">Short profile description</h6>
          </div>
          <div class="menu-header-btn-pane">
            <button type="button" class="btn-wide btn-shadow btn-pill btn btn-warning">
              View Profile</button>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="p-0 list-group-item">
        <div class="grid-menu grid-menu-2col overflow-hidden">
          <div class="no-gutters row">
            <div class="col-sm-6">
              <div class="p-1">
                <button
                  class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-focus">
                  <i class="lnr-sun text-primary opacity-7 btn-icon-wrapper mb-2"> </i>
                  View Blogs
                </button>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="p-1">
                <button
                  class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-focus">
                  <i class="lnr-magic-wand text-primary opacity-7 btn-icon-wrapper mb-2"> </i>
                  View Recipes
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
