<div class="recipe-form-container">
  <div class="h-100">
    <div class="row h-100 no-gutters">
      <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-8">
        <div class="mx-auto app-login-box col-sm-12">
          <div class="recipe-update">
            <div class="d-flex">
              <div class="ml-auto">
                <button type="submit" (click)="saveRecipe()" class="btn btn-wide btn-pill btn-shadow btn-secondary btn-lg">Save
                </button>
              </div>
            </div>
            <form [formGroup]="this.formGroup" class="needs-validation" novalidate (validSubmit)="this.submit()">
              <div class="about-detail-label">
                Recipe
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom01">Title</label>
                  <input formControlName="title" type="text" class="form-control" id="validationCustom01"
                    placeholder="Title" value="Mark" required>
                </div>

                <div class="col-md-6 mb-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Serve For</mat-label>
                    <mat-select formControlName="serveFor">
                      <mat-option value="option">Option</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom01">Preparation Time</label>
                  <input formControlName="preparationTime" type="text" class="form-control" id="validationCustom01"
                    placeholder="Preparation Time" value="Mark" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="file" style="margin-right: 1rem">Cover Image</label>
                  <input type="file" id="file">
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <div class="col-md-6 mb-3 form-group">
                    <label for="file" style="margin-right: 1rem">Video</label>
                    <input type="file" id="file">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
