<div class="profile-container">
  <div class="h-100">
    <div class="row h-100 no-gutters">
      <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-8">
        <div class="mx-auto app-login-box col-sm-12">
          <div class="profile-update">
            <div class="d-flex">
              <div>
                <h4>
                  <div>Welcome,</div>
                  <span>It only takes a <span class="text-success">few seconds</span> to Update your profile</span>
                </h4>
              </div>
            </div>
            <div class="personal-information">
              <span>Personal Information <mat-icon (click)="editAbout()" svgIcon="edit"></mat-icon>
              </span>
            </div>
            <form [formGroup]="this.formGroup" class="needs-validation" novalidate (validSubmit)="this.submit()">
              <div class="about-detail-label">
                User Info
              </div>
              <div class="ml-auto">
                <button type="submit"
                  class="btn btn-wide btn-pill btn-shadow btn-secondary btn-lg">Save
                </button>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom01">Name</label>
                  <input formControlName="name" type="text" class="form-control" id="validationCustom01"
                    placeholder="Name" value="Mark" required>
                </div>

                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom02">Email</label>
                  <input formControlName="email" type="text" class="form-control" id="validationCustom02"
                    placeholder="Email" value="Mark" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom03">Mobile Number</label>
                  <input formControlName="mobile" type="Number" class="form-control" id="validationCustom03"
                    placeholder="Mobile Number" aria-describedby="inputGroupPrepend">
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom04">Select City</label>
                  <select formControlName="city" type="text" class="form-control" id="validationCustom04">
                    <option value="None">Select</option>
                    <option *ngFor="let city of cities;" value="{{city.name}}">
                      {{city.name}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom05">Select State</label>
                  <select formControlName="state" type="text" class="form-control" id="validationCustom05">
                    <option value="None">Select</option>
                    <option *ngFor="let state of states;" value="{{state.name}}">
                      {{state.name}}
                    </option>
                  </select>
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom06">Select Country</label>
                  <select formControlName="country" type="text" class="form-control" id="validationCustom06">
                    <option value="None">Select</option>
                    <option *ngFor="let country of countries;" value="{{country.name}}">
                      {{country.name}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom07">Pincode</label>
                  <input formControlName="pincode" type="text" class="form-control" id="validationCustom07"
                    placeholder="Pincode" required>
                </div>
              </div>

              <div class="about-detail-label">
                Social Media Links
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom08">Instagram Link</label>
                  <input formControlName="instagram" type="text" class="form-control" id="validationCustom08"
                    placeholder="Instagram Link" required>
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom09">Facebook Link</label>
                  <input formControlName="facebook" type="text" class="form-control" id="validationCustom09"
                    placeholder="Facebook Link" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom10">Twitter Link</label>
                  <input formControlName="twitter" type="text" class="form-control" id="validationCustom10"
                    placeholder="Twitter Link" required>
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom11">Youtube Link</label>
                  <input formControlName="youtube" type="text" class="form-control" id="validationCustom11"
                    placeholder="Youtube Link" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom12">Website Link</label>
                  <input formControlName="website" type="text" class="form-control" id="validationCustom12"
                    placeholder="Website Link" required>
                </div>
              </div>
              <div class="about-detail-label">
                Other Info
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom13">Summary</label>
                    <textarea formControlName="summary" class="form-control"
                     id="validationCustom13" placeholder="Summary"  required></textarea>
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <label for="validationCustom14">Hobbies</label>
                    <textarea formControlName="hobbies" class="form-control"
                     id="validationCustom14" placeholder="Hobbies"  required></textarea>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Food Interest</mat-label>
                    <mat-select formControlName="foodInterest" multiple>
                      <mat-option *ngFor="let foodInt of foodInterests" [value]="foodInt">{{foodInt}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6 mb-3 form-group">
                  <mat-radio-group formControlName="foodChoice" aria-label="Select an option">
                    <mat-label class="food-choice">Food Choice</mat-label>
                    <mat-radio-button value="veg" style="margin-right: 1rem;">Veg</mat-radio-button>
                    <mat-radio-button value="nonVege">Non Vage</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <div class="form-row">
                <label for="validationCustom15">Favourite dishes</label>
                    <textarea formControlName="favouriteDishes" class="form-control"
                     id="validationCustom15" placeholder="Favourite dishes"  required></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
