<div class="user-profile-details">
    <div class="about-text-main">About</div>
    <div class="about-information">
        <div class="personal-information">
            <span>Personal Information  <mat-icon (click)="editAbout()" svgIcon="edit"></mat-icon>
            </span>
        </div>
        <div class="about-detail-label">
            User Info
        </div>
        <mat-divider></mat-divider>
        <div class="detail-main">
            <div class="detail-inner">
                <div class="about-text">Name</div>
                <div class="about-value">Abhinav Kumar</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Email</div>
                <div class="about-value">abhinav.jha986@gmail.com</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Mobile</div>
                <div class="about-value">82**********</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">City</div>
                <div class="about-value">82**********</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">State</div>
                <div class="about-value">82**********</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Country</div>
                <div class="about-value">82**********</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Pincode</div>
                <div class="about-value">82**********</div>
            </div>
        </div>
        <div class="about-detail-label">
            Social Media Links
        </div>
        <mat-divider></mat-divider>
        <div class="detail-main">
            <div class="detail-inner">
                <div class="about-text">FB Link</div>
                <div class="about-value">**********</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Insta Link</div>
                <div class="about-value">************</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Twitter Link</div>
                <div class="about-value">************</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Youtube Link</div>
                <div class="about-value">************</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Website Link</div>
                <div class="about-value">************</div>
            </div>
        </div>
        <div class="about-detail-label">
            Other Info
        </div>
        <mat-divider></mat-divider>
        <div class="detail-main">
            <div class="detail-inner">
                <div class="about-text">Summary</div>
                <div class="about-value">**********</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Hobbies</div>
                <div class="about-value">************</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Food Interest</div>
                <div class="about-value">************</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Food Choice</div>
                <div class="about-value">************</div>
            </div>
            <div class="detail-inner">
                <div class="about-text">Favourite Dishes</div>
                <div class="about-value">************</div>
            </div>
        </div>
    </div>
</div>