<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar>
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Menu</div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-rocket"></i>
                    <span class="vsm-title">My Pages</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item"><a routerLink="" routerLinkActive="active-item"
                                               [routerLinkActiveOptions]="{exact: true}" class="vsm-link"><span
                        class="vsm-title">My Profile</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLink="/myblogs" routerLinkActive="active-item" class="vsm-link"><span
                          class="vsm-title">My Blogs</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLink="/myrecipes" routerLinkActive="active-item" class="vsm-link"><span
                          class="vsm-title">My Recipes</span></a>
                      </div>

                      <div class="vsm-item">
                        <a routerLink="/myanalytics" routerLinkActive="active-item" class="vsm-link"><span
                          class="vsm-title">My Analytics</span></a>
                      </div>

                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="blogsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Blogs</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item"><a routerLinkActive="active-item" routerLink="/pages/login"
                        class="vsm-link"><span
                        class="vsm-title">Create Blog</span></a></div>
                      <div class="vsm-item"><a routerLinkActive="active-item" routerLink="/pages/login"
                                               class="vsm-link"><span
                        class="vsm-title">Top Bloggers</span></a></div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/login-boxed" class="vsm-link"><span
                          class="vsm-title">Trending Blogs</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/register" class="vsm-link"><span
                          class="vsm-title">My Location Blogs</span></a>
                      </div>

                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="recipeMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-plugin"></i>
                    <span class="vsm-title">Recipes</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/mailbox" class="vsm-link"><span
                          class="vsm-title">Create Recipe</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/mailbox" class="vsm-link"><span
                          class="vsm-title">Top Chefs</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/chat" class="vsm-link"><span
                          class="vsm-title">Trending Recipes</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Breakfast</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Lunch</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Dinner</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Desert</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Drinks</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Quick Bites</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Healthy</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="resturantsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Resturants</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item"><a routerLinkActive="active-item" routerLink="/pages/login"
                                               class="vsm-link"><span
                        class="vsm-title">Top Resturants</span></a></div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/login-boxed" class="vsm-link"><span
                          class="vsm-title">Trending Resturants</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/register" class="vsm-link"><span
                          class="vsm-title">My Location Resturants</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/register" class="vsm-link"><span
                          class="vsm-title">Fine Dining</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/register" class="vsm-link"><span
                          class="vsm-title">Casual Dining</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/register" class="vsm-link"><span
                          class="vsm-title">Family Style</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/register" class="vsm-link"><span
                          class="vsm-title">Fast Food</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/register" class="vsm-link"><span
                          class="vsm-title">Cafe</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/register" class="vsm-link"><span
                          class="vsm-title">Buffet</span></a>
                      </div>

                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/pages/register" class="vsm-link"><span
                          class="vsm-title">Street Food</span></a>
                      </div>

                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="cusinesMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-plugin"></i>
                    <span class="vsm-title">Cusines</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/mailbox" class="vsm-link"><span
                          class="vsm-title">Indian</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/chat" class="vsm-link"><span
                          class="vsm-title">Italian</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Thai</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Chinese</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Greek</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Japanese</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">French</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">Spanish</span></a>
                      </div>
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/apps/material-tabs" class="vsm-link"> <span
                          class="vsm-title">English</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>

              <ngb-panel id="mealMenu">
                <ng-template ngbPanelHeader>
                  <button  class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Meal Planner</span>
                  </button>
                </ng-template>
                </ngb-panel>
              <ngb-panel id="promoMenu">
                <ng-template ngbPanelHeader>
                  <button  class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Request for promo</span>
                  </button>
                </ng-template>
                </ngb-panel>
                <ngb-panel id="contactMenu">
                  <ng-template ngbPanelHeader>
                    <button  class="vsm-link">
                      <i class="vsm-icon pe-7s-browser"></i>
                      <span class="vsm-title">Contact Us</span>
                    </button>
                  </ng-template>
                  </ngb-panel>


            </ngb-accordion>


          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
