<div class="recipe-form-container">
    <div class="h-100">
        <div class="row h-100 no-gutters">
            <div
                class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                <div class="mx-auto app-login-box col-sm-12">
                    <div class="blog-update">
                        <div class="d-flex">
                            <div class="ml-auto">
                                <button type="submit"
                                 class="btn btn-wide btn-pill btn-shadow btn-secondary btn-lg">Save
                                </button>
                            </div>
                        </div>
                        <form [formGroup]="this.formGroup" class="needs-validation" novalidate
                            (validSubmit)="this.submit()">
                            <div class="about-detail-label">
                                Blog Info
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Title</label>
                                    <input formControlName="title" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Title" value="Mark" required>
                                </div>

                                <div class="col-md-6 mb-3 form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Description</mat-label>
                                        <textarea formControlName="description" matInput></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="file" style="margin-right: 1rem">Cover Image</label>
                                    <input type="file" id="file">
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <div class="col-md-6 mb-3 form-group">
                                        <label for="file" style="margin-right: 1rem">Video</label>
                                        <input type="file" id="file">
                                    </div>
                                </div>
                            </div>

                            <div class="about-detail-label">
                                Resturant Info
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Name</label>
                                    <input formControlName="name" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Name" value="Mark" required>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Address</mat-label>
                                        <textarea formControlName="address" matInput></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">City</label>
                                    <input formControlName="city" type="text" class="form-control"
                                        id="validationCustom01" placeholder="City" value="Mark" required>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Contact Number</label>
                                    <input formControlName="contactNumber" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Contact Number" value="Mark" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Email</label>
                                    <input formControlName="email" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Email" value="Mark" required>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Website</label>
                                    <input formControlName="website" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Website" value="Mark" required>
                                </div>
                            </div>

                            <div class="about-detail-label">
                                Resturant other Details
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Timing</label>
                                    <input formControlName="timing" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Timing" value="Mark" required>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Price Range</label>
                                    <input formControlName="priceRange" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Price Range" value="Mark" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Category</mat-label>
                                        <mat-select formControlName="category">
                                            <mat-option value="option">Option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Cousin</mat-label>
                                        <mat-select formControlName="cousin" multiple>
                                            <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                                {{topping}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Delivery Partner</mat-label>
                                        <mat-select formControlName="deliveryPartner" multiple>
                                            <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                                {{topping}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Other Info</mat-label>
                                        <mat-select formControlName="otherInfo" multiple>
                                            <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                                {{topping}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="about-detail-label">
                                Rating & Review
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Overall</label>
                                    <input formControlName="overall" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Overall" value="Mark" required>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Ambience</label>
                                    <input formControlName="ambience" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Ambience" value="Mark" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Food</label>
                                    <input formControlName="food" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Food" value="Mark" required>
                                </div>
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Service</label>
                                    <input formControlName="service" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Service" value="Mark" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3 form-group">
                                    <label for="validationCustom01">Hygine</label>
                                    <input formControlName="hygine" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Hygine" value="Mark" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
